html {
    font-size: 62.5%;
}

body {
    line-height: 3.2rem;
    font-family: 'Hind', sans-serif;
    margin: 0;
    /* overflow-x: hidden; */
}

body * {
    margin: 0;
    padding: 0;
}

#wrapper {
    padding: 0 2rem;
    
}

header,
main,
section,
footer {
    max-width: 94.8rem;
    /* 948px */
    margin: 0 auto;
    box-sizing: border-box;
}

.headertop {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.5rem solid #8295ab;
    padding-top: 6.4rem;
    padding-bottom: 2.2rem;
    margin-bottom: 2.7rem;
}

#logo {
    max-width: 7.6rem;
}

.headerleftbox {
    padding-left: 4rem;
    text-align: right;
}

.maintitle {
    font-size: 5.8rem;
    line-height: 4.8rem;
    /* font-family: "raleway"; */
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 0.9rem;
    color: #2c3c48;
}

.mainsubtitle {
    font-size: 2rem;
    /* font-family: "raleway"; */
    font-weight: 500;
    text-transform: uppercase;
    color: #2c3c48;
    
}

.hero{
    margin-bottom:0;
    line-height: 0;
    margin-bottom: 4.3rem;
}
.hero img {
    max-width: 100%;
    
}

section.works{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4.3rem;
   
}

section.works h2{
    flex-basis: 100%;
    /* font-family: "raleway"; */
    font-weight: 500;
    color: #7c97ad;
    font-size: 3.4rem;
    margin-bottom: 1rem;
    padding-left: 1.3rem;
    letter-spacing: 0.1rem
    /* background: red; */
}

.workdetails{
    width: calc(33.33333% - 2rem);
    /* padding:0 1rem; */
    box-sizing: border-box;
    font-size: 2rem;
    /* font-family: "raleway"; */
    font-weight: 500;
    color: #7c97ad;

}
.workdetails img{
    max-width: 100%;
    margin-bottom: 1rem;
}

.workdetails h3{
    text-align: center;
    color: #2c3c48;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3.6rem;
    margin-bottom: 0.5rem;
}

.workdetails a{
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #2c3c48;

}
.workdetails a:hover{
    color:#7c97ad

}


@media screen and (min-width:412px) and (max-width:768px){

    section.works h2{
        padding-left: 0rem;
        
        /* background: red; */
    }
    

    .workdetails{ 
        flex-basis: 100%;
        margin-bottom: 4rem;
    }
    .workdetails img{
        max-width: 40%;
        float: left;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .workdetails h3{
        text-align: left;
        margin-top: 2rem;
        color: #2c3c48;
        text-transform: uppercase;
        
    }

}



@media screen and (max-width:412px){
    .headertop{
        margin-bottom: 0;
        padding-top: 2.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        position: fixed;
        background: #fff;
        width: 100vw;
        margin: 0 -2rem;
        /*BOX SHADOW causes a menu vertical flickering ?*/
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        border-bottom: none;
    }
    #logo {
        max-width: 4.6rem;
    }
    .maintitle{
        font-size: 3rem;
        line-height: 2.8rem;
        margin-bottom: 0;
    }

    section.hero{
        padding-top: 11rem;
        width: 100vw;
        margin: 0 -2rem 4rem -2rem;
    }

    section.works h2{
        padding-left: 0rem;
        text-align: center;
        
        /* background: red; */
    }
    

    .workdetails{ 
        flex-basis: 100%;
        margin-bottom: 4rem;
        border:1px solid #fafafa;
        
    }
    .workdetails img{
        max-width: 100%;
        float: none;
        margin-bottom: 0;
        margin-right: 0;
    }
    .workdetails h3{
        text-align: center;        
        color: #2c3c48;
        text-transform: uppercase;
        margin-bottom: 0;
        
    }

    .workdetails a{
        display: block;
        text-align: center;
        font-size: 1.4rem;
        
    
    }

}